{% extends 'layout.html' %}

{% block content %}

<h1>投稿の削除</h1>
<p>以下を削除しますか?</p>
<p>曲名：{{ article.title }}</p>
<p>歌手・バンド：{{ article.singer }}</p>
<p>作曲：{{ article.composition }}</p>
<p>リンク：<br><a href="{{ article.url }}">{{ article.url }}</a></p>
<p>コメント：<br>{{ article.content }}</p>
<p>{{ article.author }}</p>
<p>{{ article.created_at|date:"Y-m-j H:i:s" }}<br>
{{ article.updated_at|date:"Y-m-j H:i:s" }}</p>

<form action='' method='post'>{% csrf_token %}
    <a href='JavaScript:history.back()' class='btn btn-outline-primary'>削除しないで戻る</a>
    <button type='submit' class='submit delete btn btn-danger'>削除する</button>
</form>

{% endblock %}