<!DOCTYPE html>
<html>
    <!-- ここから下をいおりが編集 -->
    <link rel="stylesheet" href="../../static/bbs/css/style.css">
    <body>
        <div class="title">MOTIF</div>
    </body>

    {% if user.is_authenticated %}
    <!-- ログインしているとき -->
    <div class="box">
        <a href='{% url "logout" %}' class='login'>logout</a>
    </div>
    {% else %}
        <!-- ログインしていないとき -->
    <div class="box">
        <a href='{% url "login" %}' class='login'>login</a>
    </div>
        <p class="new_acount">登録していない方は<a class="kotira" href='{% url "accounts:signup" %}'>こちら</a></p>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="box">
            <a href='{% url "bbs:create" %}'  class='create'>投稿する</a>
        </div>
    {% endif %}
<div class="container">
        {% for article in object_list %}
        <tr>
            {% load static %}
            <td><img src="{% static 'bbs/img/cdimg.jpg' %}" width="200" height="200"></td>
            <td>
                <h1><a href='{% url "bbs:detail" article.pk %}'>{{ article.title }}</a></h1><br>
                作成日時：{{ article.created_at|date:"Y-m-j H:i" }}<br>
                更新日時：{{ article.updated_at|date:"Y-m-j H:i" }}
            </td>
            <td>{{ article.singer }}</td>
            <td>{{ article.author }}</td>
            <td>{{ article.content }}</td>
        </tr>
        {% endfor %}
</div>
</html>